*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    background-color: #F3F5FC;
}

main{
    height: 100vh;
    margin-bottom: 20px;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.contenedor  h1{
    font-size: 4rem;
    color: #0A3871;
}
.conte_texto .texto textarea,
.conte_resultado textarea#resultado{
    width: 100%;
    outline: none;
    border: none;
    padding: 20px 10px;
    background-color: transparent;
    font-size: 2rem;
    color: #0A3871;
    resize: none;
    font-weight: bold;
}
.conte_texto .texto textarea{
    height: 500px;
}
.conte_resultado textarea#resultado{
    font-size: 1.5rem;
}
.conte_texto .bottones p{
    font-size: 1rem;
    margin: 10px 0;
}




input:hover{
    font-weight: bold;
}

.conte_texto .bottones input,
.conte_resultado input#copiar{
    display: block;
    width: 100%;
    padding: 15px 0;
    border: none;
    margin: 0 0 20px;
    border-radius: 18px;
    background-color: #0A3871;
    color: #ffffff;
    font-size: 1.2rem;
    border: 1px solid #0A3871;
    cursor: pointer;
}


.conte_texto .bottones input#desencrip,
.conte_resultado input#copiar{
    color: #0A3871;
    background: #F3F5FC;
}
.contenedor .conte_vacio,
.contenedor .conte_resultado{
    background-color: #ffffff;
    margin: 10px 0 15px;
    padding: 50px;
    text-align: center;
    border-radius: 18px;
    font-size: 1.8rem;
    color: #0A3871;
    font-weight:900;
    line-height: 35px;
    box-shadow: 1px 2px 8px rgba(0,0,0,.8);
}

.contenedor .conte_vacio p{
    color: #0A3871;
    font-weight:200;
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.conte_vacio div img{
    min-width: 80px;
    max-width: 450px;
}

.ocultar{
    display: none;
}


.mensaje{
    background-color:#C70039; 
    position: fixed;
    width: 350px;
    top: 38%;
    right:calc(60% - 350px);
    border-radius: 18px;
    padding: 25px;
    box-shadow: 1px 3px 8px 1px #00000059 ;
    transform: translateY(-600px);
    opacity: 1; 
}
.mensaje p{
    color: white;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}
.alert{
    transform: translateY(0);
    transition: opacity .2s ease-in-out;
}
footer{
    padding: 25px;
    width: 100%;
    margin: auto;
    font-size:1rem;  
}
footer div{
    display: inline-block;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer div p{
    text-align: center;
    font-weight: bold;
}
footer img{
    width: 25px;
}
footer img:hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

/* adaptado a mobil */

@media screen and (max-width:699px) {
    main{
        height: 100%;
    }
    .conte_texto .bottones input,
.conte_resultado input#copiar{
    padding: 25px 0;
}
.contenedor .conte_vacio img{
    display: none;
}
.mensaje{
    width: 90%;
    left: 5%;
    right: 5%;

}
.mensaje > p{
    font-size:  1.2rem;
}



}



/* adaptado a ipad */

@media (min-width:700px) and (max-width:1200px) {
    main{
        height: 100%;
    }
    .bottones div{
        display: flex;
        gap: 25px;
    }
    .contenedor .conte_vacio img{
        display: none;
    }
    .mensaje {
        width: 40%;
        left:30%;
        right:30%;
    }
}

/* adaptado a desktop */
@media (min-width:1201px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
    .conte_texto{
        grid-column: 1/3 ;;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .contenedor .conte_vacio{
        grid-column: 3/4;
        padding: 50px 30px;
    }
    .contenedor .conte_vacio div{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conte_vacio img{
        display: block;
        margin-bottom: 55px;
        width: 100%;
    }
    .contenedor .conte_resultado textarea{
        height: 500px;
    }
    .contenedor .conte_resultado{
        grid-column: 3/4;
        padding: 40px 15px 0 15px;
    }
    .contenedor .conte_resultado div{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .bottones div{
        display: flex;
        gap: 25px;
    }
    .texto,
    .bottones{
        width:700px;
        margin: 0 auto;
    }
    .mensaje{
        width: 420px;
        right:calc(60% - 420px);
    }
}